.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* repeat = as many times as you can fit */
  /* auto-fit = fit as many items on the line as possible, go bigger if you need to */
  /*minmax = (min size, max size) = the minimum size the column should be is 200px, but if there's space then give them all 1fr of that width. */
  grid-gap: 20px;
}

@media only screen and (max-width: 812px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
